crypto-config/*
!crypto-config/.gitkeep

channel-artifacts/*
!channel-artifacts/.gitkeep

chaincode-package/*
!chaincode-package/.gitkeep

crypto-config-ca/*
!crypto-config-ca/.gitkeep

fabric-ca/*
!fabric-ca/.gitkeep